@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(xn-table) {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: getCssVar('table-bg-color');
  font-size: getCssVar('font-size', 'base');
  color: getCssVar('table-text-color');
  display: flex;
  flex-direction: column;

  @include e(toolbar) {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m(left) {
      display: flex;
      align-items: center;
      padding: 8px 0;
      &:empty {
        padding: 0;
      }
    }

    @include m(right) {
      display: flex;
      align-items: center;
      padding: 8px 0;
      &:empty {
        padding: 0;
      }
    }
  }

  @include e(body) {
    flex: 1;
    overflow: auto;

    .el-table {
      height: 100%;
    }
  }

  @include e(pagination) {
    flex-shrink: 0;
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
  }
}
