.common-layout {
  .xn-header,
  .xn-footer,
  .xn-main,
  .xn-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .xn-header,
  .xn-footer {
    background-color: var(--xn-color-primary-light-7);
    color: var(--xn-text-color-primary);
    text-align: center;
  }

  .xn-aside {
    background-color: var(--xn-color-primary-light-8);
    color: var(--xn-text-color-primary);
    text-align: center;
  }

  .xn-main {
    background-color: var(--xn-color-primary-light-9);
    color: var(--xn-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
